<main>
  <div class = "first-page">
    <div class = "top-image">
      <div class = "explain-image">
        <p>いらっしゃいませ　Nagano cake へ <br>
        こちらはケーキ販売サイトです
        </p>
      </div>
    </div>
    <div class = "new_item_list">
      <span class = "new_item_list_title">新着商品</span>
      <table class="table table-striped bg-light">
        <tr>
          <th>商品名</th>
          <th>イメージ</th>
          <th>商品単価</th>
        </tr>
        <% @new_items.each do |new_item| %>
        <tr>
          <td><%= link_to new_item.name, items_path(new_item) %></td>
          <td><%= attachment_image_tag new_item, :image, format: 'jpeg' %></td>
          <td><%= new_item.price %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</main>